.wrapper {
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
}

.avarar-container {
    display: flex;
    align-items: center;
}

.avatar-body {
    display: flex;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.nikname {
    font-family: var(--font-family-sofia);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 25px;
}

.comment {
    font-size: 1.6rem;
    line-height: 22px;
    white-space: pre-line;
    word-break: break-word;
    margin-bottom: 6px;
}

.sub-content {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    line-height: 20px;
}

.reply {
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    margin-left: 24px;
}

.icon-container {
    margin-left: 18px;
    padding-right: 2px;
    width: 24px;
    flex: 0 0 24px;
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.like {
    font-size: 1.2rem;
    line-height: 17px;
    color: rgba(22, 24, 35, 0.5);
}
